body {
  background-color: hsl(257, 40%, 49%);
  margin: 30px 60px;
  color: white;
  background-image: url("images/bg-desktop.svg");
}

/* nav bar */

.logo {
  max-width: 50%;
  max-height: 50%;
}

/* body section*/
.body-section {
  padding-top: 60px;
}

.mockup-image {
  float: left;
  margin-right: 50px;
  max-width: 100%;
  height: auto;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
  padding-top: 50px;
}

.description {
  font-family: "Open Sans", sans-serif;
  line-height: 2;
}

.registation-button {
  background-color: white;
  color: hsl(257, 40%, 49%);
  padding: 14px 50px;
  border: unset;
  border-radius: 24px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* footer section */
.footer {
  clear: left;
  text-align: right;
}

.circle-icon {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  margin: 0 5px;
}

/* For lower size screen */
@media screen and (max-width: 1349px) {
  body {
    text-align: center;
  }

  nav {
    text-align: left;
  }

  .mockup-image {
    float: unset;
  }

  .footer {
    text-align: center;
    margin: 80px 0 60px;
  }
}

@media screen and (max-width: 889px) {
  .title {
    font-size: 32px;
  }
}

@media screen and (max-width: 546px) {
  .title {
    font-size: 30px;
  }
}

@media screen and (max-width: 375px) {
  .title {
    font-size: 28px;
  }

  body {
    background-image: url("images/bg-mobile.svg");
  }
}
